# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  (?x)^(
    share/ |
    .clang-format$
  )
repos:
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
    types_or: [c++, c, c#]

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    args: [--in-place]
    additional_dependencies: [pyyaml>=5.1]
  #- id: cmake-lint

ci:
  autofix_prs: true
  autoupdate_schedule: quarterly
