isort==5.13.2
pyyaml==6.0.1
autopep8==2.1.0
lxml==5.2.1
certifi==2024.7.4
cffi==1.16.0
charset_normalizer==3.3.2
cryptography==43.0.1
idna==3.7
kerberos_proxy_auth==0.0.2
pycparser==2.22
pyspnego==0.10.2
python_certifi_win32==1.6.1
requests==2.32.3
requests_kerberos==0.14.0
sspilib==0.1.0
tomli==2.0.1
typing_extensions==4.12.2
wrapt==1.14
geographiclib==2.0
Jinja2==3.1.4
markupsafe==2.1.5
ephem==4.1.5 
