cffi==1.16.0
cryptography==43.0.1
kerberos_proxy_auth==0.0.2
pycparser==2.22
pyspnego==0.10.2
pip-system-certs==4.0
requests_kerberos==0.14.0
sspilib==0.1.0
wrapt==1.14
geographiclib==2.0
ephem==4.1.5 
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
